div{
    height: 100px;
    margin-top: 20px;
    border: 1px solid;
}
.content{
    background-color: blueviolet;
}
.content1{
    background-color: darkcyan;
    /* display: none; */
    visibility: visible;
}
.content2{
    background-color: darkgreen;
}
