.parent{
    background-color: aliceblue;
    display: flex ;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-direction: row;
}
.child{
     padding: 30px;
     background-color: blueviolet;
     margin: 10px;

}
.body{
    background-color: aquamarine;

}
@media (max-width: 720px){
   body{
    background-color: brown;
   }
.parent{
    background-color: green;
}
}
    @media(max-width:560px) {
        body{
            background-color: rgb(42, 31, 53);
        }

        .parent{
            background-color: yellow;
            flex-direction: row;
        }
        
    }
