.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}
.navbar a{
    text-decoration: none;
    color: black;
}
 .navbar a :hover{
    border-bottom: 4px solid brown;
 }
.content {
 width: 80%;
 margin: auto;
 padding: 10px;

}
.content a{
    text-decoration: none;
    color:rgb(148, 148, 233);
    width: 80%;
    padding: 10px;

}

.top-nav-head h1{
    font-size: 25%;
    padding: 10px;
    width: 90%;
    margin: auto;
}
.p{
    text-align: left;

}
.navbar.items :hover{
    background-color: white;
    position: sticky;
    border-bottom: 4px solid brown; 

}


