div {
    width: 200px;
    height:100px;
    margin-top: 10px;
}
.container1{
    background-color: rgb(228, 8, 8);

}
.container1:hover{
    transform: translate(100px,100px);
}
.container2{
    height: 100px;
    background-color: rgb(207, 27, 87);
}
.container2{
    transform: rotate(30deg);

}
.container3{
    background-color: rgb(25, 92, 216);
}
.container3:hover{
    transform: scale(1.5);
}
.container4{
    background-color: blueviolet;
}
.container4:hover{
    transform: skew(40deg,30deg);
}